body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('Whiterun.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
p { color: #f0f0f0; margin: 10px; font-size: 20px; }
a { color: #add8e6; }
.italic { font-style: italic; }
.content-block {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    padding: 10px;
}
.header, .footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0f0f0;
    padding: 20px;
    border: 2px solid #000;
}
.header { margin-bottom: 10px; }
.footer { margin-top: auto; text-align: right; }
.container {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    flex: 1;
}
.block2 { flex: 25; }
.block3 { flex: 20; } 
.group  { 
    flex: 45;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}
.sub-columns {
    display: flex;
    gap: 10px;
    flex: 1;
}

.block5, .block6 { flex: 1; }
