body {
    margin: 0;
    min-height: 100vh;
    background-image: url('Whiterun.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 10px;
}
p { color: #f0f0f0; margin: 10px; font-size: 20px; }
a { color: #add8e6; }
.italic { font-style: italic; }
.content-block {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #000;
    padding: 10px;
}
.header, .footer {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f0f0f0;
    padding: 20px;
    border: 2px solid #000;
}
.footer { text-align: right; }
.container {
    display: grid;
    grid-template-columns: 25fr 20fr 45fr;
    gap: 10px;
    padding: 0 10px;
}
.group {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}
.sub-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}